#upComing{
  h1{
    text-align: center;
    color: red;

  }
  .nowPlaying--selector{
    display: flex;
    margin: 0 0 0 70px;
    width: 150px;
    border: none;
    border-radius: 3px;
    outline: none;
    color: #222;
    font-size: 20px;
    font-family: 'roboto',  sans-serif;
    transition: 1.5s ;

    option{
      color: #222;
      transition: 1.5s ;
    }
  }

  .upComing{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 30px;


    .upComingMovies{
      width: 230px;
      height: 340px;
      margin: 20px 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;

      img{
        z-index: 10;
        border-radius: 10px;
      }
    }
    .upComingMovies::before{
       content: "";
       position: absolute;
       width: 130px;
       height: 140%;
       background: linear-gradient(yellow,deeppink);
       animation: animate 4s linear infinite;
       border-radius: 10px;

      @keyframes animate {
        0%{
          transform: rotate(0deg);
        }
        100%{
          transform: rotate(350deg);
        }
      }
    }
  }
}








