#nowPlaying{
  h1{
    text-align: center;
    color: red;
  }

  .nowPlaying--selector{
    display: flex;
    margin: 0 0 0 70px;
    width: 150px;
    border: none;
    border-radius: 3px;
    outline: none;
    color: #222;
    font-size: 20px;
    font-family: 'roboto',  sans-serif;
    transition: 1.5s ;

    option{
      color: #222;
      transition: 1.5s ;
    }
  }
  .nowPlaying{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 30px;




    img{
      z-index: 10;
      border-radius: 10px;
    }

    .movieInfo{
      width: 230px;
      height: 340px;
      margin: 20px 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;
    }


    .movieInfo::before{
      content: "";
      position: absolute;
      width: 130px;
      height: 140%;
      background: linear-gradient(red,blue);
      animation: animate 4s linear infinite;
      border-radius: 10px;



      @keyframes animate {
        0%{
          transform: rotate(0deg);
        }
        100%{
          transform: rotate(350deg);
        }
      }
    }
  }
}







