.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid red;
}
.logo{
    width: 10%;
}
.logo img{
    width: 100%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.nav-bar a{
    color: red;
    transition: 0.5s;
}
a:hover{
    color: white;
}
.btn button{
    background-color: black;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: Roboto sans-serif;
    font-size: 19px;
    font-weight: 500;
}
