.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10%;
}
.logo img{
    width: 100%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.nav-bar a{
    color: red;
    transition: 0.5s;
}
a:hover{
    color: white;
}
.btn button{
    padding: 10px 20px;
    border: none;
    background: greenyellow;
    border-radius: 28px;
    color: black;
    font-weight: 600;
    transition: 0.5s;
}

.headerInput{
    width: 200px;
    border-radius: 28px  ;
    border: none;
    padding: 10px;
    outline: none;
    position: relative;
}
.searchBtn{
    padding: 10px 20px;
    border: 1px solid greenyellow;
    background: greenyellow;
    border-radius: 28px;
    color: black;
    font-weight: 600;
    transition: 0.5s;
}

.searchBtn:hover{
    background: none;
    color: white;

}
/*.btn button{*/
/*    border: 1px solid greenyellow;*/
/*    transition: 0.5s;*/
/*}*/

/*.btn button:hover{*/
/*    background: none;*/
/*}*/
