.actorDetail{
  display: flex;
  margin: 40px 0 0 0;

  .actorImage{
    width: 400px;
    margin: 0 20px 0 0 ;


  }

  .actorsFilms--container{
    width: 400px;
  }
  .actorBiography{
    width: 750px;
    span{
      color: green;
    }
  }
}