.componentsOn{
    display: flex;
    justify-content: space-between;
    padding: 150px 0 0 0;
    position: relative;
    z-index: 10;
}

.backgroundIMG{
    position: absolute;
    opacity: 0.3;
    width: 100%;
    left: 0;
    height: 80vh;
    margin: 40px 0 0 0;
}

.movieDetail--img img {
    width: 300px; /* Adjust as needed */
    height: 500px;
    margin: 0 30px 0 0 ;/* Maintain aspect ratio */
}
p{
    font-size: 20px;
    color: white;
}
h1{
    color: white;
}
.vote{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;


}
.vote div{
    background: green ;
    border-radius: 10%;
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vote div p {
    font-size: 16px;
}


.howManyVotes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;


}
.howManyVotes div{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vote div p {
    font-size: 16px;
}
